.logo{
    font-family: "Press Start 2P";
    color: #FFF;
    font-size: 25px;
    text-shadow: 4px 4px 0 #4b4b4b;
}


#outdoor{
    background-image: url(/assets/img/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    border: solid red;
}

#buttons{
    border: solid yellow;
    display: block;
    position: relative;
    margin-top: 38px;
    margin-bottom: 497px;
    padding-left: 181px;
}