.box{
    display: inline-block;
    background-color: #2d3436;
    width: 630px;
    box-shadow: 10px 10px 0 black;
    text-align: center;
    padding: 20px 24px;
}

.box .title {
    margin-bottom: 28px;
}