.box{
    display: inline-block;
    background-color: #2d3436;
    width: 540px;
    box-shadow: 10px 10px 0 #000;
    text-align: center;
    padding: 52px 54px;
}

.box .title {
    margin-bottom: 28px;
}