.main-section{
    background-color: #776393;
    padding-top: 50px;
    padding-bottom: 100px;
    border-bottom: 10px solid grey;
}

.main-section .main-title {
    margin-bottom: 60px;
}

.skills-page {
    text-decoration: none;
}

.main-section.-second {
    background-color: #000;
    border-bottom: 10px solid #776393;
}