.main-button {
    display: inline-block;
    background-color: #776393;
    color: #FFF;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 5px 5px 0 #000;
    margin-right: 0px;
    transition: transform 100ms cubic-bezier(.45,.97,.68,2.48);
    font-size: 20px;
    text-decoration: none;
}

.main-button:hover{
    transform: scale(1.08);
    opacity: 0.9;
}
