.skill-tech {
    display: flex;
    align-items: center;
    font-family: 'Press Start 2P' ;
    font-size: 25px;
    color: #FFF;
}

.skill-tech .icon {
    margin-right: 25px;
    width: 90px;
}

.skill-tech .right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.skill-tech .title{
    margin-bottom: 16px;
}